body{
	margin: 0px auto;
	background-color: #ecedec;
	font-family: helvetica, times, arial;
	color: #666666;
} 

h1 {
	text-align: center;
	font-size: 1.2rem;
	margin-top: -40px;
}

h2 {
	font-size: 1rem;
}

p, div {
	font-size: 0.8rem;
}

.ordenado {
	text-align: justify;
}

.derecho {
	text-align: right;
}

hr.style2 {
	border-top: 3px double #808080;
	margin-left: 5px;
	margin-right: 5px;
}

hr.style1 {
	border-top: 3px solid #808080;
	margin-left: 5px;
	margin-right: 5px;
}

hr.style3 {
	border-top: 1px solid #808080;
}

main {
	padding-left: 5px;
}

footer {
	padding: 7px;
}

.naranjo{
	color: #ee553d;
}

.bnaranjo{
	background-color: #ee553d;
    margin: 2px;
    color: white;
    font-size: 0.6rem;
    padding: 8px 2px;
}

.bburdeo{
	background-color: #a45362;
    margin: 2px;
    color: white;
    font-size: 0.6rem;
    padding: 8px 2px;
}

.blanco{
	background-color: white;
	margin: 6% 10% 5% 10%;
	width: 100% auto;
} 

.clearfix {
	clear: both;
}

.negrita {
	font-weight: bold;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
.col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12{
	float: left;
}

@media(max-width: 480px){
	.col-sm-1{
		width: 8%;
	}
	.col-sm-offset-1{
		margin-left: 8%;
	}
	.col-sm-2{
		width: 16%;
	}
	.col-sm-offset-2{
		margin-left: 16%;
	}
	.col-sm-3{
		width: 24%;
	}
	.col-sm-offset-3{
		margin-left: 24%;
	}
	.col-sm-4{
		width: 32%;
	}
	.col-sm-offset-4{
		margin-left: 32%;
	}
	.col-sm-5{
		width: 40%;
	}
	.col-sm-offset-5{
		margin-left: 40%;
	}
	.col-sm-6{
		width: 48%;
	}
	.col-sm-offset-6{
		margin-left: 48%;
	}
	.col-sm-7{
		width: 56%;
	}
	.col-sm-offset-7{
		margin-left: 56%;
	}
	.col-sm-8{
		width: 64%;
	}
	.col-sm-offset-8{
		margin-left: 64%;
	}
	.col-sm-9{
		width: 72%;
	}
	.col-sm-offset-9{
		margin-left: 72%;
	}
	.col-sm-10{
		width: 80%;
	}
	.col-sm-offset-10{
		margin-left: 80%;
	}
	.col-sm-11{
		width: 88%;
	}
	.col-sm-offset-11{
		margin-left: 88%;
	}
	.col-sm-12{
		width: 96%;
	}
	.col-sm-offset-12{
		margin-left: 96%;
	}
}

@media(min-width: 481px){
	.col-md-1{
		width: 8%;
	}
	.col-md-offset-1{
		margin-left: 8%;
	}
	.col-md-2{
		width: 16%;
	}
	.col-md-offset-2{
		margin-left: 16%;
	}
	.col-md-3{
		width: 24%;
	}
	.col-md-offset-3{
		margin-left: 24%;
	}
	.col-md-4{
		width: 32%;
	}
	.col-md-offset-4{
		margin-left: 32%;
	}
	.col-md-5{
		width: 40%;
	}
	.col-md-offset-5{
		margin-left: 40%;
	}
	.col-md-6{
		width: 48%;
	}
	.col-md-offset-6{
		margin-left: 48%;
	}
	.col-md-7{
		width: 56%;
	}
	.col-md-offset-7{
		margin-left: 56%;
	}
	.col-md-8{
		width: 64%;
	}
	.col-md-offset-8{
		margin-left: 64%;
	}
	.col-md-9{
		width: 72%;
	}
	.col-md-offset-9{
		margin-left: 72%;
	}
	.col-md-10{
		width: 80%;
	}
	.col-md-offset-10{
		margin-left: 80%;
	}
	.col-md-11{
		width: 88%;
	}
	.col-md-offset-11{
		margin-left: 88%;
	}
	.col-md-12{
		width: 96%;
	}
	.col-md-offset-12{
		margin-left: 96%;
	}
}

.img-responsive{
	max-width: 100%;
	bottom: 50px;
	width: 150px;
	margin: 0;
	position: relative;
	border-radius: 50%;
	border: 5px solid #ecedec;
}

.parrafo {
	text-align: center;
}